body {
    margin: 8px;
    display: block;
    font-size: large;
}

#mainHeading {
    background-color: red;
}

#testP {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.funParagraph {
    background-color: green;
}

